# Mac_OS
.DS_Store

# Ignore build, install, and log directories
build/
install/
log/
__pycache__/

# Ignore ROS 2 workspace files
colcon/
.colcon/

# Ignore ROS 2 package directories
.deps/
.deps_install/

# Ignore IDE-specific files
.idea/

# Keep vscode extensions.json
**/.vscode/*
!**/.vscode/extensions.json
