repos:
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: https://github.com/cheshirekow/cmake_format
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--check]
  - repo: https://github.com/cmake-lint/cmake-lint
    rev: v1.4.2
    hooks:
      - id: cmakelint
  - repo: local
    hooks:
      - id: xmllint
        name: XML formatting
        entry: xmllint --format
        language: system
        files: \.xml$
