setuptools
python-can
numpy
bson
pymongo
pyyaml
bitstring
adafruit-circuitpython-servokit
adafruit-circuitpython-pca9685
adafruit-circuitpython-motor
adafruit-blinka
smbus2
adafruit-circuitpython-ms8607