setuptools
python-can
numpy
pyyaml
bitstring
adafruit-circuitpython-servokit
adafruit-circuitpython-pca9685
adafruit-circuitpython-motor
adafruit-blinka
smbus2
adafruit-circuitpython-ms8607
RPi.GPIO
ublox_gps